<template>



    <v-data-table
            v-bind:headers="headers"
            :items="lines"

            class="elevation-1"

    >
        <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>

            <td class="text-xs-right">{{ props.item.id }}</td>

            <td class="text-xs-right">{{ props.item.trains }}</td>
            <!--
            <td class="text-xs-right">{{ props.item.carbs }}</td>
            <td class="text-xs-right">{{ props.item.protein }}</td>
            <td class="text-xs-right">{{ props.item.sodium }}</td>
            <td class="text-xs-right">{{ props.item.calcium }}</td>
            <td class="text-xs-right">{{ props.item.iron }}</td>
-->
        </template>
    </v-data-table>

</template>

<script>
    import {HTTP} from '../http-common'

    export default {
        data () {
            return {
                headers: [
                    {
                        text: 'Line',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },

                    { text: 'Train', value: 'id' },

                    { text: 'Position', value: 'position' },
                    /*
                    { text: 'Carbs (g)', value: 'carbs' },
                    { text: 'Protein (g)', value: 'protein' },
                    { text: 'Sodium (mg)', value: 'sodium' },
                    { text: 'Calcium (%)', value: 'calcium' },
                    { text: 'Iron (%)', value: 'iron' }
                    */
                ],
                lines: []
            }
        },
        mounted () {
            //allTrainsPosition: function () {
                //console.log(user)
                HTTP.get('line/train/position')
                    .then(response => {
                        //console.log(response.data)
                        this.lines = response.data.data
                        console.log(this.lines)
                    })
                    .catch(error => {
                        console.log(error.response.data)

                    })
            }
    }
</script>