<template>
    <v-tabs fixed icons centered>
        <v-tabs-bar dark color="cyan">
            <v-tabs-slider color="yellow"></v-tabs-slider>
                <v-tabs-item to="/">
                    <v-icon>flare</v-icon>
                    Metro
                </v-tabs-item>
                <v-tabs-item to="/line">
                    <v-icon>timeline</v-icon>
                    Line
                </v-tabs-item>
                <v-tabs-item to="/train">
                    <v-icon>train</v-icon>
                    Train
                </v-tabs-item>

        </v-tabs-bar>
    </v-tabs>
</template>

<script>
    export default {
        data () {
            return {

            }
        }
    }
</script>
