<template>
    <v-card color="grey lighten-4" flat>
        <v-card-text>
            <v-container fluid>
                <v-layout row wrap>
                    <v-flex xs6>
                        <v-subheader>Trains</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                        <v-select
                                v-bind:items="trains"
                                item-text="id"
                                item-value="id"
                                label="Select"
                                single-line
                                bottom
                                v-model="id"
                                v-on:input="setItems()"
                        ></v-select>
                    </v-flex>
                    <v-flex xs4>
                        <v-subheader>Speed</v-subheader>
                    </v-flex>
                    <v-flex xs8>
                        <v-text-field
                                v-model="speed"
                                name="speed"
                                label="Speed"
                                id="speed"
                                item-value="speed"
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-subheader>Position</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                        <v-select
                                v-bind="position"
                                label="Select"
                                single-line
                                bottom
                        ></v-select>
                    </v-flex>
                    <v-flex xs6>
                        <v-subheader>Way direction</v-subheader>
                    </v-flex>
                    <v-flex xs6>
                        <v-select
                                v-bind="way_direction"
                                label="Select"
                                single-line
                                bottom
                        ></v-select>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
    import {HTTP} from '../http-common'

    export default {
        data () {
            return {
                e1: null,
                id: null,
                speed: 0,
                position: null,
                way_direction: null,
                trains: []
            }
        },
        methods: {
            setItems: function() {
                //alert(this.id)
                //console.log(train)
                //this.speed = train
                HTTP.get('train/' + this.id)
                    .then(response => {
                        console.log(this.id)
                        console.log(response.data)
                        this.speed = response.data.data.speed
                        console.log(this.speed)
                    })
                    .catch(error => {
                        console.log(error.response.data)

                    })
            }
        },
        mounted () {
            //allTrainsPosition: function () {
            //console.log(user)
            HTTP.get('train')
                .then(response => {
                    this.trains = response.data.data
                    console.log(this.trains)
                })
                .catch(error => {
                    console.log(error.response.data)

                })
        }
    }
</script>